body {
    background-image: url(honey%20comb%20wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: gold;
    border-color: brown;
    border-width: thick;
    text-align: center;
    padding: 7px 7px;
    width: 100px;
    border-radius: 30px;
}

#home_button {
    margin-bottom: 20px;
    margin-left: 10px;
}

#title_combs {
    margin-top: 25px;
    margin-left: 25px;
}

#title_combs_text {
    position: absolute;
    top: 25px;
    left: 50px;
}
