body {
    background-image: url(honey-comb-wall-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: gold;
    border-color: brown;
    border-width: thick;
    text-align: center;
    padding: 7px 7px;
    width: 100px;
    border-radius: 30px;
}

#home_button {
    margin-bottom: 20px;
    margin-left: 10px;
}

#title_combs {
    margin-top: 25px;
    margin-left: 25px;
}

#title_combs_text {
    position: absolute;
    top: 25px;
    left: 50px;
}

#bee_comb {
    position: fixed;
    left: 462px;
    top: 210px;
}

#bee_comb:hover {
    animation: flash;
    animation-duration: 1s;
}

.bee_comb:hover {
    animation: flash;
    animation-duration: 1s;
}

#bee_comb img {
    /*
    height: auto;
    width: auto;
*/
    /*
    max-width: 70px;
    min-width: 40px;
    max-height: 70px;
    min-height: 40px;
*/
}

.bee_button {
    background-color: transparent;
    border-color: brown;
    border-width: thick;
    text-align: center;
    padding: 7px 7px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.bee_button:hover {
    animation: fadeIn;
    animation-duration: 1s;
}

#bee_reveal {
    top: 193px;
    left: 300px;
}

.modal {
    /*    position: absolute !important;*/
    margin-right: 50px !important;
    overflow: auto !important;
    right: 50px !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}


.modal-content {
    background: lightgoldenrodyellow !important;
    color: saddlebrown;
    border-color: brown !important;
    border-width: thick !important;
}

.bee_pic {
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 40px !important;
}
