/********** HOMEPAGE **********/

header {
    position: absolute;

    text-align: left;
    left: 30px;
    top: 50px;
    font-size: 30px;
}


body {
    background-image: url(dmitry-grigoriev-yxXpjF-RrnA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.hexagon {
    position: relative;
    width: 54px;
    border-width
}

.button {
    background-color: gold;
    border-color: brown;
    border-width: thick;
    text-align: center;
    padding: 7px 7px;
    width: 125px;
    border-radius: 30px;
}

#home_page {
    bottom: 50px;
}





/********** HEADER **********/
header {
    text-align: left;
    padding: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0px;
}

/********** HOME PAGE **********/
#frontpageflavor {
    position: absolute;
    bottom: 10px;
    color: white;
    margin: 0;
    padding-left: 20px;
}


header a {
    color: white;
    text-decoration: none;
    margin-right: 60px;
}

.current-page {
    border-bottom: solid white;

}

/********** CART AND NUMBER **********/
#cart {
    margin-right: 5px;
}
